<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Animal1 %><br>
    <!--<%= f.text_field :animal_id %>
    <!-- <%= f.select(:animal, Animal.all.map{|p| [p.avatar.url(:thumb)]}) %> -->


    <table>


  <tbody>
    <% @animals = Animal.all %>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= radio_button_tag(:animal_id, animal.id) %></td>
        <td><%= animal.name %></td>
        <td><%= image_tag animal.avatar.url(:thumb) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
  <div class="field">
    <%= f.label :Animal2 %><br>
    <!--<%= f.text_field :alternative_id %> -->
<table>


  <tbody>

    <% @animals.each do |alternative| %>
      <tr>
        <td><%= radio_button_tag(:alternative_id, alternative.id) %></td>
        <td><%= alternative.name %></td>
        <td><%= image_tag alternative.avatar.url(:thumb) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= radio_button_tag(:difficulty, "easy") %>
    <%= label_tag(:difficulty, "easy") %>
    <%= radio_button_tag(:difficulty, "medium") %>
    <%= label_tag(:difficulty, "medium") %>
    <%= radio_button_tag(:difficulty, "hard") %>
    <%= label_tag(:difficulty, "hard") %>


  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

