<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Animal1 %><br/><br/>



    <table>


  <tbody>

   <% @animals = Animal.all %>
    <% @animals.each do |animal| %>
      <label class="img-radio">
        <%= f.radio_button(:animal_id, animal.id) %>

       <%= image_tag animal.avatar.url(:thumb) %>
      </label>
    <% end %>
  </tbody>
</table>
<br/><br/>

  </div>
  <div class="field">
    <%= f.label :Animal2 %><br/><br/>

<table>


  <tbody>



<% @animals = Animal.all %>
    <% @animals.each do |alternative| %>
      <label class="img-radio">
        <%= f.radio_button(:alternative_id, alternative.id) %>

       <%= image_tag alternative.avatar.url(:thumb) %>
      </label>
<% end %>
  </tbody>
</table>
<br/><br/>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br><br/>
    <%= f.radio_button(:difficulty, "easy") %>
    <%= f.label(:difficulty, "easy") %>
    <%= f.radio_button(:difficulty, "medium") %>
    <%= f.label(:difficulty, "medium") %>
    <%= f.radio_button(:difficulty, "hard") %>
    <%= f.label(:difficulty, "hard") %>


  </div>


<br/><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br/>

