<p id="notice"><%= notice %></p>

<table align="center" class="transparent" cellspacing="0">

    <thead>
 
	<tr class="legend">
	  <th>Animal</th>
	  <th>Animal</th>
	  <th>Difficulty</th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>

    </thead>

    <tbody>

	<tr><td></td></tr>
	<tr>
	  <td class="img-quiz">  <%= image_tag Animal.find(@quiz.animal_id).avatar.url(:thumb) %></td>
	  <td class="img-quiz"><%= image_tag Animal.find(@quiz.alternative_id).avatar.url(:thumb) %></td>
	  <td class="diff" align="center"><%= @quiz.difficulty %></td>
	  <td class="s-e-d"><%= link_to 'Back', quizzes_path %></td>
	  
	  <% if can? :destroy, Quiz %>
	      <td class="s-e-d"><%= link_to 'Edit ', edit_quiz_path(@quiz) %></td>
	      <td class="s-e-d"><%= link_to 'Destroy ', @quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% end %>
	  
	</tr>

    </tbody>
    
</table>

