<h1 align="center">Listing users</h1>

<table class="transparent_home" align="center" cellspacing="0">
  <thead>
    <tr class="legend">	 
      <th>Username</th>
      <th>Email</th>
      <th>Max-easy  </th>
      <th>Max-medium  </th>
      <th>Max-hard  </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr><td></td></tr>
      <tr>
        <td class="diff"><%= user.username %></td>
        <td class="diff"><%= user.email %></td>
        <td class="diff" align="center"><%= user.max_easy %></td>
        <td class="diff" align="center"><%= user.max_medium %></td>
        <td class="diff" align="center"><%= user.max_hard %></td>
        <td class="s-e-d"><%= link_to 'Show', user %></td>
        <td class="s-e-d"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="s-e-d"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if not(user.has_role? :admin) %>
        <td class="s-e-d"> <%= link_to 'Make_Admin', assign_admin_role_path(user) %> </td>
        <% elsif user.has_role? :admin %>
        <td class="s-e-d"> <%= link_to 'Demote_to_User', remove_admin_role_path(user) %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


