<p id="notice"><%= notice %></p>

<p>
    <strong>Username:</strong>
    <%= @user.username %>
</p>

<p>
    <strong>Password:</strong>
    <%= @user.password %>
</p>

<p>
    <strong>Max easy:</strong>
    <%= @user.max_easy %>
</p>

<p>
    <strong>Max medium:</strong>
    <%= @user.max_medium %>
</p>

<p>
    <strong>Max hard:</strong>
    <%= @user.max_hard %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
