<p id="notice"><%= notice %></p>

<p>
    <strong>Optone:</strong>
    <%= @setting.optone %>
</p>

<p>
    <strong>Opttwo:</strong>
    <%= @setting.opttwo %>
</p>

<p>
    <strong>Optthree:</strong>
    <%= @setting.optthree %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
