<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @animal.avatar.url(:medium) %>
</p>

<p>
  <strong>Sound:</strong>
  <audio controls="controls">
	<source src="<%= @animal.sound.url %>" type="audio/mpeg">
  </audio>


</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
